* {
    box-sizing: border-box;
}

header section #name-box {
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    float:left
}

 header section #timer {
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    float: right;
}

.column {
    float: left;
    padding: 10px;
}

.left {
    width: 25%;
}

.middle {
    width: 65%;
}

.right {
    width: 10%
}