* {
    
}

.body {
    font-family:"Nova Flat", monospace;
    background-image: url("../images/backgorund.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 100% ;
    background-color: #cbcc9d;
    position: relative;
    left: 25%;
    border: #0d3339bf 10px outset;
    border-radius: 15px;
    width: 1000px;
    height: 700px
}

#name-box {
    border:  #1b8191 3px outset;
    width: 85%;
    background-color: #24a19d9c;
    border-radius: 10px;
    box-shadow:5px 5px 5px#006E7F;
    float: left;
    text-align: center;
}
.highscore-box {
    border:  #1b8191 3px outset;
    width: 85%;
    background-color: #24a19db0;
    border-radius: 10px;
    box-shadow:5px 5px 5px#006E7F;
    float: right;
    text-align: center;
    position: relative;
    top: 30px;
}

 #timer {
    display: none;
    border:  #1b8191 3px outset;
    width: 100%;
    background-color: #24a19d8c;
    border-radius: 10px;
    box-shadow:5px 5px 5px#006E7F;
    float: right;
    text-align: center;
    position: relative;
    left: 30px;
}

.header {
    height: 20%;
    background-color: #006E7F;
    border-bottom: #1b8191 3px outset;
    border-radius: 5px;
    box-shadow: 0px 5px 5px #006E7F;
    position: relative;
    top:-7%
}

.h1 {
    font-size: 40px;
    text-align: center;
    width: 100%;
    position: relative;
    top: 40px;
    text-shadow: #ade7e74f 2px 2px;
}
.questioncontainer {
    display:none;
    border:  #0d3339bf 3px outset;
    width: 200px;
    background-color: #37342fc3;
    border-radius: 10px;
    box-shadow:5px 5px 5px#9e9e9e87;
    float: left;
    text-align: center;
    position: relative;
    top: 30px;
}
.question {
    border:  #1b8191 3px outset;
    
    background-color: #0c558aff;
    border-radius: 10px;
    box-shadow:5px 5px 5px#006E7F;
}


.answers {
   
    width: 45%;
    border:  #1b8191 3px outset;
    background-color: #0471c0;
    border-radius: 10px;
    box-shadow:5px 5px 5px#006E7F;
    margin: 10px;
    height: 100px;
}
.answercontainer {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.namebox {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.column {
    float: left;
    padding: 10px;
}

.left {
    width: 15%;
}

.middle {
    width: 65%;
}

.right {
    width: 10%;
}

@media screen {
    
}